In [45]:
import pandas as pd

In [46]:
df = pd.read_csv('valorant_match_clsfc.csv')
df.head()

,game_id,episode,act,rank,date,agent,map,outcome,round_wins,round_losses,kills,deaths,assists,kdr,avg_dmg_delta,headshot_pct,avg_dmg,acs,num_frag
0,1,6,2,Placement,04/11/2023,Cypher,Ascent,Loss,5,13,8,15,4,0.5,-61,3,76,125,3
1,2,6,2,Placement,04/12/2023,Cypher,Icebox,Loss,4,13,3,15,2,0.2,-124,22,42,59,5
2,3,6,2,Placement,4/15/2023,KAY/O,Lotus,Win,13,4,7,12,7,0.6,-46,2,87,132,5
3,4,6,2,Placement,4/15/2023,Brimstone,Ascent,Loss,9,13,18,12,10,1.5,23,14,137,230,2
4,5,6,2,Placement,4/15/2023,Cypher,Haven,Loss,1,13,6,14,3,0.4,-75,7,90,146,4

In [47]:
df.shape

(1000, 19)

In [48]:
df.isnull().sum()

game_id          0
episode          0
act              0
rank             0
date             0
agent            0
map              0
outcome          0
round_wins       0
round_losses     0
kills            0
deaths           0
assists          0
kdr              0
avg_dmg_delta    0
headshot_pct     0
avg_dmg          0
acs              0
num_frag         0
dtype: int64

In [49]:
features = df.drop(columns=['game_id',"episode",'act','rank','date','agent','map','outcome'])
target = df['outcome']

In [50]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
target = encoder.fit_transform(df['outcome'])
target = pd.DataFrame(target,columns=['outcome'])
target

     outcome
0          0
1          0
2          1
3          0
4          0
..       ...
995        1
996        0
997        0
998        1
999        0

[1000 rows x 1 columns]

In [51]:
X = features
y = target

In [52]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24)

In [53]:
from sklearn.linear_model import Perceptron
perceptron = Perceptron(random_state=24)
perceptron.fit(X_train, y_train)
y_pred = perceptron.predict(X_test)

/home/dapek/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [54]:
from sklearn.metrics import accuracy_score, classification_report
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred, target_names=encoder.classes_)
accuracy

0.9833333333333333

In [55]:
print("\nLaporan Klasifikasi:\n", classification_rep)

Laporan Klasifikasi:
               precision    recall  f1-score   support

        Loss       0.99      0.97      0.98       140
         Win       0.98      0.99      0.98       160

    accuracy                           0.98       300
   macro avg       0.98      0.98      0.98       300
weighted avg       0.98      0.98      0.98       300

In [56]:
results = pd.DataFrame({
    'Actual': encoder.inverse_transform(y_test),
    'Predicted': encoder.inverse_transform(y_pred)
})
results.to_csv('perceptron_results.csv', index=False)

/home/dapek/.local/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:153: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)